<!DOCTYPE html>
<html>
  <head>
     <title> Welcome to simple web server by CloudxLab </title>
  </head>
  <body>
     <h1>  Welcome to CloudxLab - Flask Website </h1>
     <div class="video">
<iframe width="560" height="315" src="https://www.youtube.com/embed/2oDSVmfHtt4?start=108" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     </div>
     <a href="{{ url_for('about') }}">About Us</a> </br>
     </br> <a href="{{ url_for('tushar_new') }}" >tushar_new</a>
     
  </body>
</html>

